.contactUsSection {
  height: 100vh;
  background-image: linear-gradient(
      rgba(77, 77, 77, 0.5),
      rgba(77, 77, 77, 0.5)
    ),
    url("../images/otherInformation/otherInformationPHOTOGALLERY.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contactUsInformation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 700px;
  flex-wrap: wrap;
  margin: auto;
}

.contactUsForm {
  flex: 2;
  background-color: white;
}

.contactUsAddress {
  flex: 1;
  color: white;
  padding: 2%;
  font-size: 1.25rem;
}

.contactUsAddress p {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .contactUsSection {
    height: auto;
  }

  .contactUsInformation {
    height: auto;
    width: 90%;
  }

  .contactUsAddress {
    margin-top: 2rem;
  }
}
